body {
    background-image: url("wiese.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
}

h1 {
    font-family: Perpetua;
    font-size: 75px;
    text-align: center;
    color: white;
    margin: 2% 2% 0;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2% 2%;
}

#right, #left {
    font-family: Perpetua;
    color: white;
    font-size: 25px;
    background-color: #464646;
    border: 0;
    margin: 0 1%;
}

#right {
    border-radius: 0 5px 5px 0;
}

#left {
    border-radius: 5px 0 0 5px;
}

#imgPosition1 {
    width: 10%
}

#imgPosition2 {
    width: 20%
}

#imgPosition3 {
    width: 30%
}

#imgPosition4 {
    width: 20%
}

#imgPosition5 {
    width: 10%
}

img {
    object-fit: cover;
    height: 100%;
}

#pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
