/****BACKGROUND****/

body div{
    z-index: 1;
}
#background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
body {
    overflow: hidden;
}



/****CARDS****/
#content {
    display: flex;
    justify-content: center;
}

.card {
    width: 20%;
    height: 100%;
    margin: 1% 5%;

    background: #f0f0c8 no-repeat;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.card div {
    width: 100%;
    overflow: hidden;
}

.card div img {
    max-height: 300px;

}

.card p {
    color: #AAAAAA;
}