body{
    background: url(img/64-646702_dice-png-transparent-big-image-image-dice-transparent.png);
}

#battleground{
    display: flex;
}

#player1 #player2{
    width: 50%;
}

#winner{
    
}

#lifebar1 #lifebar2{
    width: 40%;
    height: 5%;
}