body{
    background: url(img/64-646702_dice-png-transparent-big-image-image-dice-transparent.png);
    font-family: perpetua;
}
@font-face {
    font-family: perpetua;
    src: url(./perpetua.woff);
}
h1{
    margin-left: 45%; 
}

#button{
    margin: 1%;
    margin-left: 47.5%;
}

#battlefield{
    display: flex;
    padding: 2%;
    width: 50%;

    border: 2px gray solid;
    border-radius: 20px;
    background-color: lightgray;
}

#tutorial{
    text-align: center;
    padding: 1%;
    
    border: 2px gray solid;
    border-radius: 20px;
    background-color: lightgray;
    font-style: oblique;
}

#player1{
    margin-left: 9%;
    font-weight: bold;
}#player2{
    margin-left: 26%;
    font-weight: bold;
}

#output{
    display: flex;
    justify-content: center;
}

#winner{
    position: absolute;
    left: 46.5%;
    top: 66%;
    width: 7%;
    display: flex;
    justify-content: center;

    border: 2px gray solid;
    border-radius: 15px;
    background-color: lightgray;
    font-weight: bold;
}

#endResult{
    position: absolute;
    left: 46.5%;
    top: 15%;
    width: 7%;
    display: flex;
    justify-content: center;

    border: 2px gray solid;
    border-radius: 15px;
    background-color: lightgray;
    font-size: larger;
    font-weight: bold;
}

#lifebar1 #lifebar2{
    width: 40%;
    height: 5%;
}