h1 {
    text-align: center;
    margin-bottom: 4%;
}

#headline{
    display: flex;
    justify-content: center;
}

.redT{
    color: red;
    font-size: 60px;
    margin: 0;
}

.blueT{
    color: blue;
    font-size: 60px;
    margin: 0;
}

.text{
    font-size: 37px;
    margin: 20px 5px 0 0;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 25%;
    margin-right: 25%;
    height: 60vh;

    font-size: 45px;
}

.box {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    margin: 0;
}

.horizontalLine {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.verticalLine {
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#newGameButton {
    background-color: white;
    border-radius: 10px;
    margin-left: 46%;
    width: 8%;
}

#players {
    display: flex;
    justify-content: center;
}

#player1Name, #player2Name {
    margin: 0 1% 3%;
}

#player1Name{
    background-color: rgba(255, 0, 0, 0.50);
    border: 0;
    border-radius: 5px;
    text-align: center;
}

#player2Name{
    background-color: rgba(0, 0, 255, 0.40);
    border: 0;
    border-radius: 5px;
    text-align: center;
}

#player1Score{
    color: red;
}

#player2Score{
    color: blue;
}

#winnerPlayer1{
    position: absolute;
    top: 45%;
    right: 40%;
    height: 10%;
    width: 20%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
#winnerPlayer2{
    position: absolute;
    margin: 0% 40%;
    height: 10%;
    width: 20%;
    background-color: rgba(0, 0, 255, 0.5);
}